<% @users.each do |user| %>
<a href="/users/<%= user.id %>" class="user-container">
  <img class="user-photo" src="<%= user.photo %>">
  <div class= "user-info-container">
    <h2 class="user-name"><%= user.name %></h2>
    <p class="post-counter">Number of posts: <%= user.posts_counter %></p>
</div>
</a>
<%end%>
