/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  text-align: center;
  padding: 50px;
}
.user-container {
  display: flex;
  margin-bottom: 30px;
  column-gap: 100px;
}

.user-info-container {
  border: 1px solid;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-name {
  font-size: 72px;
  margin: 0;
}
.user-photo {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.post-counter {
  align-self: flex-end;
  font-size: 28px;
}
